* {
    margin: 0;
    padding: 0;
}
body{
	background-color: #062F4F;
}
H1{
	text-align:center;
	font-size:25px;
	padding-top:20px;
	color: white;
	display:block;
	margin-right: 12S0px;
}
p {
	
	text-align:left;
	
	
}
.class1{
	text-align:center;
	font-size:15px;
	background-color: #000000;
	color: white;
    
	
	}
.class2 {
	font-size:15px;
	background-color:062f4f;
	padding-top:220px;
	position: relative;
	height:400px;
	width:300px;
	
	color: white;
	float: left;
}



#picture{
	width:300px;
	height:300px;
	float: right;
	color:white;
	display:none;
	text-align:left;  
    margin-right: 230px;
	padding-top: 55px;

}
.picture img  {
    float: right;
	width:600px;
	height:600px;

	text-align:left;  

	
	
}	
.picture p  {
	
	position:relative;
	right:123px;
}
#picture2{
	width:300px;
	height:300px;
	float: right;
	color:white;
	display:none;
	margin-right: 130px;
	padding-top: 55px;

	
}


.picture2 img{
	width:800px;
	height:550px;
	float:right;
	text-align:left;

}
.picture2 p  {
	
	position:relative;
	right:193px;
	
}
#picture3{
	width:400px;
	height:400px;
	float: right;
	color:white;
	display:none;
	text-align:center;
	margin-right: 130px;
	padding-top: 55px;

}

.picture3 img  {
    float: right;
	width:800px;
	height:550px;
	
	
	
}	
.picture3 p  {
	
	position:relative;
	right:123px;
}
.dropbox {
	position: absolute;
	float:left;
	border: 2px solid black;
	width:300px;
	height:300px;
	color:white;
	font-size:20px;
	padding-top:40px;
	
}

.dropbox p{
	line-height:2;
}
.dropbox button{
	display:block;
	margin-top:10px;
}
.class3{
	margin-top:800px;
	background-color:#B82601;
	width:100%;
	height:150px;
	text-align: right;
	position: absolute;

	
}
.class3 p{
	padding-top:50px;
	text-align: right;
	color:white;
}

.dropbttn {
    background-color: #B82601;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
	text-align:left;
}
.drop{
    position: relative;
    display: inline-block;
	float:left;
}
.dropdo{
	display: none; 
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

	
	
}

.dropdo a{
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdo a:hover {background-color:blue !important;}

.drop:hover .dropdo {
    display:block !important;
}

.drop:hover .dropbttn {
    background-color: #B82601 !important;
}