* {
    margin: 0;
    padding: 0;
}


.headBar {
	display:block;
	width:100%;
	height: 60px;
	border-bottom: 1px solid gray;
	position: sticky;
    top: 0;
	z-index:1;
	background-color:white;
}

.headBar img{
	width: 200px;
	height: 200px;
    position: relative;
    left: 130px;
	margin-top:-60px;
	
}


.headBar input {
    float: right;
    padding: 0px;
    border: none;
   
    margin-right: 116px;
    font-size: 17px;
	border-left: 1px solid gray;

	border-right: 1px solid gray;
	height:60px;
}


.dropbttn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
	text-align:left;
}
.drop{
    position: relative;
    display: inline-block;
	float:left;
	border-right: 1px solid grey;
	height:100%;
}
.dropdo{
	display: none; 
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

	
	
}

.dropdo a{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border: .5px solid black;
}

.dropdo a:hover {background-color:#EAF2F8 !important;}

.drop:hover .dropdo {
    display:block !important;
}

.drop:hover .dropbttn {
    background-color: gray !important;
}


.body1{
	
	height: 700px;
	width:100%;
	background-color:white;
		z-index:1;
	
}


 .body1 p{
	text-align:center;
	font-family:OCR A Std, monospace;
	font-size: 20px;
	font-weight: 600;
	float:left;
	margin-top:40px;
	display:inline;
	float:left;
	width:30%;
	margin-left:20px;
	line-height: 3;
} 
.body1 img{
		width:60%;

	float:right;
height:600px;
}
.gall{
	height:40px;
	font-size:24px;
	text-align:center;
	font-family:OCR A Std, monospace;
	font-weight:bold;
	border-top: 1px solid grey;
	padding-top:10px;

}
.hcontainer {
  width: 100%;
  position: relative;
   margin: auto; 
  background-color:white;
  height:500px;
}
.mySlides {
    display: none;
	width: 600px;
	height:600px;
	margin:auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
    background-color:black;

}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: White;
  font-size: 15px;

  position: relative;
  bottom: 25px;
  width: 100%;
text-align: center;
	font-size:20px;
font-weight:bold;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
}
.table1{
	
	width:100%;
	height:500px;
	background-color:white;
	border-bottom:1px solid grey;
	border-top:1px solid grey;
	text-align:center;
	font-size:20px;
	font-family:OCR A Std, monospace;
	padding-top:50px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
.cap{
	border-bottom:1px solid grey;
	border-top:1px solid grey;
width:100%;
	height: 400px;

}
.cap img{
	
	bottom:100px;
	width: 200px;
	height: 200px;
	
}
.cap p{ 
    position: absolute;
		font-size:14px;
font-weight:bold;
		color:#283747;

}
.cap1{
	float:right;
}
.cap1 a{
	
	display:block;
	text-decoration: none;
	color:#283747;
	margin-top: 80px;
  	font-size:14px;
font-weight:bold;
    margin-right: 350px;
  
}
#last{
	
		width:100%;
	height: 100px;

	background-color: #283747;
}
#last a{
	display:block-inline;
	color:white;
	padding:20px;
	margin-top:15px;
}
#last p{
	color:white;
	margin-top:15px;
    margin-right: 150px;
	float:right;
}
//The about page//
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
	top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.foot1{
	
	height: 100px;

	background-color: #283747;
	
	
}
.foot1 p{
	color:white;
	margin-top:15px;
    margin-right: 150px;
font-size:20px;
font-weight:bold;
	float:right;
	
	
}
.descrip{
	 position: fixed;
    top: 60px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
   	text-align:center;
	font-size:25px;

}
.descrip p{
	font-size:20px;
	padding:40px;
	font-family:Blippo, fantasy	;
	text-align:center;
}
 .container2s{
	color: black;
	background-color:white;
	
    border: 1px solid white;
}
.container2s img{
	
	height:50%;
    width: 100%;
	
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
	 transform: translate(-50%, -50%);
	font-size:60px;
	color:white;
	text-align:center;
	
}
.centered a {
    position: absolute;
    top: -150px;   
    left: 50%;
	 transform: translate(-50%, -50%);
	font-size:40px;
	color:white;
	
	
}

#body12{
	background-color:black;
}
.container3{
	    position: relative;
		height:500px;
		clear: both;

}
.container3 .content {
    position: absolute; 
    bottom: 50px;
	right:0;
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
	height:100px;
	text-align:center;
}
.container3 .content1  {
    position: absolute; 
    bottom: 150px;
	left:-75px;
    background: rgba(0, 0, 0, 0); 
    color: black; 
    width: 50%; 
	height:100px;
text-align:center;
font-size:18px;
}
.container3 img{
	float:right;
	border = 1px solid white;
}


#lasta{
	position:relative;
	bottom:0;
	width:100%;
	height: 100px;
	border-top: 1px solid white;
	background-color: #283747;
}
#lasta a{
	display:block-inline;
	color:white;
	padding:20px;
	margin-top:15px;
	
}
#lasta p{
	color:white;
	margin-top:45px;
    margin-right: 550px;
text-align:center;
	float:right;
}

.column {
    float: left;
    width: 50%;
	height:400px;
	
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
form {
    border: 4px solid #f1f1f1;
}


.container4 {
    padding: 20px;
    background-color: #f1f1f1;
	position:relative;
	width:auto;
	height:auto;
	text-align:center;
}


input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
 

input[type=checkbox] {
    margin-top: 16px;
}


input[type=submit] {
    background-color: #85C1E9  ;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.column{
	

}
.column p{
	
}
#if {
	width:70%;
position:relative;
	height:70%;
	text-align:center;
	 top: 50px;
	 left:100px;
    border: 1px solid black;
    box-shadow:  -1px 1px black,
         -2px 2px black,
         -3px 3px black,
         -4px 4px black,
         -5px 5px black;
}
#if1{
	font-size:20px;
	font-weight:bold;
	margin-top:25px;
	
	
}
.fa {
  
  position:relative;
  padding: 20px;
  font-size: 5px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 55px 9px 45px 15px;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-skype {
  background: lightblue;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.dive123{
	text-align:center;
	padding-top:150px;
	padding-left:0px;
	position:static;
	width:100%;
	font-size:20px;
	font-weight:bold;
		font-family:OCR A Std, monospace;
		padding-bottom:200px;
}
	.dive123 p{
	padding-bottom:50px;
	}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
margin-left: auto;
    margin-right: auto;
	padding-top:50px;
  }
#graphics{
	font-size:30px;
	font-weight:bold;
		font-family:OCR A Std, monospace;
color:#2d314b;
}
.kil{
	padding-top:200px;
	position:static;
}
.text6{
	
	padding-bottom:40px;
		font-size:18px;
	font-weight:bold;
		font-family:OCR A Std, monospace;
		text-align:center;
	
}

#MCtxt
{
	color: black;
	 font-size: 15px;

	position: relative;
    bottom: 25px;
	width: 100%;
	text-align: center;
	font-size:20px;
	font-weight:bold;
}

